@font-face {
  font-family: 'DejaVu Sans';
  src: url('https://kendo.cdn.telerik.com/2017.2.621/styles/fonts/DejaVu/DejaVuSans.ttf')
    format('truetype');
}

.a4size {
  width: 6.2in;
  height: 8.7in;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

.table {
  line-height: 25px;
  font-size: 12px;
  color: #787878;
}

.table1 {
  font-size: 10px;
  width: 100%;
}

.table1 > tr > td {
  text-align: center;
  border-bottom: 1px solid black;
}

.table1 > tr > th {
  text-align: center;
  border-bottom: 1px solid black;
  background-color: #dddddd;
}

.table > tr > th {
  text-align: left;
  width: 50%;
}

.table2 {
  font-size: 10px;
  width: 100%;
}

.table2 > tr > th {
  text-align: left;
}
