.ldsDualRing {
  display: flex;
  justify-content: center;
}
.ldsDualRing:after {
  content: ' ';
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: ldsDualRing 1.2s linear infinite;
}
@keyframes ldsDualRing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.card {
  @apply relative bg-cardOrder w-full h-auto rounded-2xl;
  .location {
    @apply flex justify-center pt-4 font-medium text-cardDate text-xs sm:text-base;
  }
  .startTitle {
    @apply text-cardDate font-bold text-sm;
  }
  .timeText {
    @apply font-light text-cardDate text-xs;
  }
  .priceText {
    @apply text-cardDate font-bold text-sm sm:text-base lg:text-sm;
  }
  .rowDirection {
    @apply pb-5 pt-4 flex justify-between;
  }
  .orderButton {
    @apply bg-button text-white font-thin md:font-bold md:py-2 px-4 rounded-lg h-8 md:h-10 text-center w-full lg:w-40 hover:bg-hover focus:bg-down;
  }
  .rightRound {
    @apply border-4 w-4 h-7 sm:w-6 sm:h-10 border-r-0 rounded-tl-full rounded-bl-full absolute right-0 bg-white border-white;
  }
  .leftRound {
    @apply border-4 w-4 h-7 sm:w-6 sm:h-10 border-l-0 rounded-tr-full rounded-br-full absolute left-0 bg-white border-white;
  }
}
