.ldsDualRing {
  display: flex;
  justify-content: center;
}
.ldsDualRing:after {
  content: ' ';
  display: block;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  border: 2px solid #fff;
  border-color: #797979 transparent #797979 transparent;
  animation: ldsDualRing 1.2s linear infinite;
}
@keyframes ldsDualRing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
