.body {
  @apply max-w-7xl mx-auto flex py-0 md:py-5 flex-wrap flex-col-reverse lg:flex-row;
}
.content {
  @apply mt-3 lg:mt-0 w-full px-2 lg:w-3/5;
}
.root {
  @apply space-y-3 w-full text-cardDate;
}
.bodyPayment {
  @apply rounded-lg bg-white py-2 shadow-md;
}

.instructions {
  @apply flex justify-between w-full py-4 text-base items-center font-medium border-b-2 px-6;
}
.instructions1 {
  @apply flex justify-between w-full py-4 text-base items-center font-medium px-6;
}

.radioGroup {
  @apply rounded-lg bg-white w-full shadow-md;
}
.paymentTitle {
  @apply text-base sm:text-lg text-cardDate font-bold border-b-2 pl-6 py-2;
}
.paymentShape {
  @apply text-base sm:text-lg font-bold py-2 w-full text-cardDate;
}
.card {
  @apply w-full lg:w-2/5;
}
.button {
  @apply w-full bg-button text-base sm:text-lg shadow-md rounded-md font-medium py-3 hover:bg-red-500 text-white hidden lg:block;
}
.buttonBlock {
  @apply w-full bg-button text-base sm:text-lg shadow-md rounded-md font-medium py-3 hover:bg-red-500 my-3 md:-mb-2 text-white block lg:hidden;
}

.ldsDualRing {
  display: flex;
  justify-content: center;
}
.ldsDualRing:after {
  content: ' ';
  display: block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 2px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: ldsDualRing 1.2s linear infinite;
}
@keyframes ldsDualRing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
