.navbar {
  @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-0 md:mt-3;

  .navbarBody {
    @apply flex items-center justify-between lg:px-4 h-12;

    .logo {
      @apply w-40;
    }

    .menuBody {
      @apply flex items-center space-x-2 ml-10;
    }

    .menu {
      @apply text-white hover:text-gray-300 px-1 py-2 rounded-md text-sm font-light;
    }

    .loginBody {
      @apply flex items-baseline space-x-4;
    }

    .loginButton {
      @apply bg-button text-white font-medium py-2 px-4 rounded-lg h-auto w-36 hover:bg-red-500;
    }
  }

  .mobileButton {
    @apply inline-flex items-center justify-center p-2 bg-white rounded-md text-white;
  }
}

.mobileMenu {
  @apply text-gray-800 hover:bg-gray-100 hover:text-gray-800 px-3 py-2 rounded-md text-base font-light block;
}

.bottomMenu {
  @apply flex fixed bottom-0 inset-x-0 bg-white lg:hidden justify-around text-sm text-secondary shadow-2xl h-20;
}
.ldsDualRing {
  display: flex;
  justify-content: center;
}
.ldsDualRing:after {
  content: ' ';
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: ldsDualRing 1.2s linear infinite;
}
@keyframes ldsDualRing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
